<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.GoodsMapper">

    <!-- 多条件查询商品(SPU) -->
    <select id="findAll" resultType="map">
        SELECT id,`goods_name` AS goodsName,`price`,
        `audit_status` AS auditStatus,
        category1_id AS category1Id,category2_id AS category2Id,
        category3_id AS category3Id, is_marketable as isMarketable
        FROM `tb_goods`
        where is_delete is NULL
        <!-- 商家的id -->
        <if test="sellerId != null and sellerId != ''">
            and seller_id = #{sellerId}
        </if>
        <!-- 商品名称 -->
        <if test="goodsName != null and goodsName !=''">
            and goods_name like CONCAT('%',#{goodsName},'%')
        </if>
        <!-- 商品状态 -->
        <if test="auditStatus != null and auditStatus !=''">
            and audit_status = #{auditStatus}
        </if>
        ORDER by id asc
    </select>


    <!--修改商品状态-->
    <update id="updateStatus" >
        update tb_goods set audit_status = #{status} where id  IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </update>

    <!--物理逻辑删除商品-->
    <update id="updateIsDelete">
        UPDATE tb_goods set is_delete = #{isDelete} WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--商品的上架与下架-->
    <update id="updateIsMarketable">
        UPDATE tb_goods SET is_marketable = #{isMarketable} WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>