<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>品牌管理</title>

    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css"/>
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/plugins/angularjs/angular.min.js"></script>
    <!-- 分页模块开始 -->
    <link rel="stylesheet" href="/plugins/angularjs/pagination.css"/>
    <script src="/plugins/angularjs/pagination.js"></script>
    <!-- 分页模块结束 -->
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="/plugins/angularjs/angular.min.js"></script>-->


    <script type="text/javascript">
        //建立模块
        var app = angular.module("pinyougou",["pagination"]);
        //创建控制器
        app.controller("brandController",function ($scope,$http) {

            //定义函数方法
            $scope.findAll=function () {
                $http.get("/brand/findAll").then(function (response) {
                    $scope.dataList = response.data;
                })

                // 笔记 10/30 then后面的函数是什么意思呢,response和response.data
            };

            $scope.saveOrUpdate=function () {
                var url = "/save";
                if($scope.entity.id){
                    url = "/update";
                }
                $http.post("/brand"+url,$scope.entity).then(function (response) {

                    if(response.data){
                        //$scope.findAll();
                        $scope.reload();
                    }else {
                        alert("添加失败,请重新添加!")
                    }
                })
            };
            
            //为修改按钮绑定点击事件
            $scope.show=function (entity) {
                //这样写会因为双向绑定出问题
                //$scope.entity = entity;

                //把entity转化成json字符串
                var jsonStr = JSON.stringify(entity);
                //把json转化json对象
                $scope.entity = JSON.parse(jsonStr);

            };


            //定义分页指令需要配置的信息对象
            $scope.paginationConf = {
                currentPage : 1,      //当前页码
                perPageOptions : [10,15,20], //页码下拉列表框需要数据
                itemsPerPage : 10,       //每页显示的记录数
                totalItems : 0,        //总记录数
                onChange :function () {//当页码发生改变时,需要调用的函数

                    $scope.reload();//重新加载

                    //$scope.paginationConf.currentPage

                }
            };

            $scope.reload=function () {

                $scope.search($scope.paginationConf.currentPage,
                $scope.paginationConf.itemsPerPage);
            };


            $scope.search=function (page,rows) {
                $http({
                    method:"get",
                    url:"/brand/findByPage?page="+page+"&rows="+rows,
                    params:$scope.searchEntity

                }).then(function (response) {

                    $scope.paginationConf.totalItems = response.data.total ;
                   // $scope.dataList = response.data.rows;
                    $scope.dataList = response.data.list;
                });
            };

            // （1）数组的push方法：向数组中添加元素
            // （2）数组的splice方法：从数组的指定位置移除指定个数的元素 ，参数1为位置 ，参数2为移除的个数
            // （3）复选框的checked属性：用于判断是否被选中


            //定义一个ids数组
            $scope.ids = [];

            //为复选框绑定点击事件
            $scope.updateSelection=function ($event,id) {

                //点击选中,添加到数组
                if($event.target.checked){
                    $scope.ids.push(id);
                }else {
                    //没被选中,从数组中移除(防止点击又取消操作)
                    var idx = $scope.ids.indexOf(id);
                    $scope.ids.splice(idx,1);
                }
            };

            //删除操作
            $scope.delete=function () {
                if($scope.ids.length>0){
                    $http({
                        url:"/brand/delete?ids="+$scope.ids,
                        method:"get"
                    }).then(function (response) {
                        if(response.data){
                            $scope.reload();
                        }
                    });
                }else {
                    alert("请选择要删除的品牌!");
                }

            }
        })

    </script>
    
</head>
                            <!--自己本来想把ng-app写在table标签那里,看来是应该范围小了 还是一个页面就定义一个ng-app呢?-->
                            <!--ng-app 指令中定义的就是模块的名称-->
                            <!--ng-controller 指令用于为你的应用添加控制器-->
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="brandController" >
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">品牌管理</h3>
	</div>

	<div class="box-body">
		<!-- 数据表格 -->
		<div class="table-box">
			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<!--<div class="btn-group">                                                                           10/31  笔记  添加完成后应重置entity值-->
						<button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}" ><i class="fa fa-file-o"></i> 新建</button>
						<button type="button" class="btn btn-default" title="删除"  ng-click="delete();"><i class="fa fa-trash-o"></i> 删除</button>
						<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
					</div>
				</div>
			</div>
			<div class="box-tools pull-right">
				<div class="has-feedback">
					<!--  查询条件区-->
					<table>
						<tr>
							<td><input class="form-control" placeholder="品牌名称" ng-model="searchEntity.name">
							</td>
							<td><input class="form-control" placeholder="首字母" ng-model="searchEntity.firstChar">
							</td>
							<td>
								<button type="button" class="btn btn-default" ng-click="reload()">
									<i class="fa fa-trash-o"></i> 查询
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div><br/>
			<!--工具栏/-->
			<!--数据列表-->
			<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right:0px">

                            <!-- 11/1 笔记 这个$event表示什么?-->
                            <!--$event是angularJS的事件对象,作用:-->
                            <!--$event.target:获取checkbox对应的dom元素-->
                            <!--用来判断checkbox是否选中-->

							<input id="selall" type="checkbox" class="icheckbox_square-blue">
						</th> 
						<th class="sorting_asc">品牌ID</th>
						<th class="sorting">品牌名称</th>									      
						<th class="sorting">品牌首字母</th>									     				
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entity in dataList">
						<td><input  type="checkbox" ng-click="updateSelection($event,entity.id);"></td>
						<td>{{entity.id}}</td>
						<td>{{entity.name}}</td>
						<td>{{entity.firstChar}}</td>
						<td class="text-center">                                           
							<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  ng-click="show(entity)">修改</button>                                           
						</td>
					</tr>
					<!--<tr>-->
					    <!--<td><input  type="checkbox"></td>			                              -->
					    <!--<td>2</td>-->
					    <!--<td>华为</td>									     -->
					    <!--<td>H</td>		                                 -->
					    <!--<td class="text-center">                                           -->
						   <!--<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  >修改</button>                                           -->
					    <!--</td>-->
				    <!--</tr>-->
					<!--<tr>-->
						<!--<td><input  type="checkbox"></td>			                              -->
						<!--<td>3</td>-->
						<!--<td>三星</td>									     -->
						<!--<td>S</td>		                                 -->
						<!--<td class="text-center">                                           -->
							<!--<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  >修改</button>                                           -->
						<!--</td>-->
					<!--</tr>-->
				</tbody>
			 </table>
			 <!--数据列表/-->
        <!-- 分页指令 -->
        <tm-pagination conf="paginationConf"/>



		</div>
		<!-- 数据表格 /-->
	 </div>
     <!-- /.box-body -->


    <!-- 10/30 笔记
     在做品牌修改的时候,anglus能通过双向绑定实现数据的回显-->


	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">品牌编辑</h3>
			</div>
			<div class="modal-body">		
				<table class="table table-bordered table-striped"  width="800px">

                      <!--笔记 10/30-->
                    <!--ng-model 指令用于绑定变量,这样用户在文本框输入的内容会绑定到变量上，而表达式可以实时地输出变量。-->
                    <!--双向绑定的理解-->
                    <!--JS代码处是$scope.变量;JS代码可以给变量赋值,如 $scope.变量 = 1,name变量就等于1-->

                    <!--尤为重要的一点是:html处也可以给JS处赋值-->
                    <!--如在输入框绑定一个变量,如果变量=2,若JS代码处有$scope.变量;那么$scope.变量=2-->


					<tr>
						<td>品牌名称</td>
						<td><input  class="form-control" placeholder="品牌名称" ng-model="entity.name">  </td>

					</tr>		      	
					<tr>
						<td>首字母</td>
						<td><input  class="form-control" placeholder="首字母" ng-model="entity.firstChar">  </td>
					</tr>		      	
				 </table>				
			</div>
			<div class="modal-footer">						
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveOrUpdate();">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		  </div>
		</div>
	</div>
</body>
</html>